secrets/*
!secrets/*.sample
!secrets/README.md
!secrets/.gitkeep

.DS_Store
.idea/
.vscode/
*.swp
*.swo

*.log
tmp/
*.tmp

.env
.env.*
!.env.example
!.env.sample

*.exe
*.dll
*.so
*.dylib
*.test
*.out
__debug_bin
coverage.out
coverage.txt
*.coverprofile
*.prof
